@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.first-color {
  background: #363636;
}

.second-color {
  background: #dc2f2f;
}

.third-color {
  background: #ff894c;
}

.fourth-color {
  background: #f8f8f8;
}
