.nav {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: #363636;
  color: #f8f8f8;
}

.heroButton {
  background-color: #dc2f2f;
}

.herobannerBackground {
  background-image: url("../../../public/herobanner-background.jpg");
  background-position: cover;
}
